* {
  margin: 0;
  padding: 0;
}

.item {
  border: solid 4px #000;
  font-family: sans-serif;

  width: 825px;
  margin: 50px auto;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  padding: 15px;
}

.price {
  font-size: 24px;
  color: #000;
}

.delivery {
  font-size: 15px;
  text-transform: uppercase;
  color: #777;
  font-weight: bold;
  margin-bottom: 20px;
}

.purpose {
  font-size: 18px;
  margin-bottom: 15px;
}

.product-detail {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 30px;
}

.more-info:link,
.more-info:visited {
  color: #000;
  font-size: 18px;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.specification {
  font-size: 18px;
  margin-left: 20px;
  list-style: square;
  margin-bottom: 20px;
}

.specification li {
  margin-bottom: 10px;
}

.order {
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border-top: solid 4px #000;
}

.order:hover {
  color: #000;
  background-color: #fff;
}
